@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--primary-color);
}

:root {
  --primary-color: #fff;
  --secondary-color: #444;
  --logo: url(/Resources/Scientia_Coral_slogan_white.png);
  --textbox: #fff;
  --cutout: #fff;
  --cover: #e9e9e9;
  --stripe: #444;
}

.dark-theme {
  --primary-color: #444;
  --secondary-color: #fff;
  --logo: url(/Resources/Scientia_Coral_Slogan.png);
  --textbox: #444;
  --cutout: #444;
  --cover: grey;
  --stripe: rgb(94, 94, 94);
}

.header {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height:130px;
  width: 100%;
  z-index: -1;
}

.container {
  margin: 10 10px;
}

.app-text {
  position: relative;
  margin-left: 170px;
  margin-top: 100px;
  color: var(--secondary-color);
}

.app-text p {
  font-size: 24px;
  line-height: 50px
}

.app-text h1 {
  font-size: 48px;
  width: 640px;
}

h1 span {
  color: #f88379;
}

p span:before {
  content: 'for teaching';
  animation: animate infinite steps(5) 10s;
}
@keyframes animate{
  0%{
    content: 'for revising';
  }
  20%{
    content: 'for studying';
  }
  40%{
    content: 'to get ahead';
  }
  60%{
    content: 'for last minute prep';
  }
  80%{
    content: 'that simply work';
  }
}

.cutout {
  background-color: var(--cutout);
  z-index: -3;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 130px;
  left: 0px;
  width:100%;
  height: 600px;
}

.cover {
  background-color: var(--cover);
  z-index: -3;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 580px;
  left: 0px;
  width:100%;
  height: 1380px;
  -webkit-transform: skew(0,-10deg);
  -ms-transform: skew(0,-10deg);
  transform: skew(0,-10deg);
  border-top: solid 20px;
  border-color: var(--stripe);
}

.coverfiller {
  background-color: var(--cover);
  z-index: -3;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1850px;
  left: 0px;
  width:100%;
  height: 253px;
}

.filetag {
  background-color: var(--primary-color);
  z-index: -3;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 620px;
  left: 100px;
  width: 400px;
  height: 45px;
  -webkit-transform: skew(0,-10deg);
  -ms-transform: skew(0,-10deg);
  transform: skew(0,-10deg);
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 18px;
}

.textbox {
  background-color: var(--textbox);
  color: var(--secondary-color);
  margin: 50px;
  padding: 60px;
  border-radius: 25px;
  position: absolute;
  box-shadow: 5px white;
  top: 280px;
  left: 42.5%;
  width: 40%;
  height: fit-content;
  box-shadow: 3px 3px 20px 2px rgb(15, 15, 15);
}

.textbox h2 {
  color: #f88379;
}

.textbox p {
  color: var(--textbox);
}

.pickmevibe {
  top: 965px;
  left: 30%;
  width: 40%;
  padding:0;
  border-top: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  position: absolute;
  text-align: center;
  font-family: 'Poppins';
  font-style: bold;
  font-size: 55px;
  color: var(--secondary-color);
}

.superpickmevibe {
  color: #f88379;
}

.pickmevibe span {
  font-size: 68px;
}

.textbox2 {
  background-color: var(--textbox);
  color: var(--secondary-color);
  margin: 50px;
  padding: 60px;
  border-radius: 25px;
  position: absolute;
  box-shadow: 5px white;
  top: 1300px;
  left: 3%;
  width: 40%;
  height: fit-content;
  box-shadow: 5px 5px 25px 3px rgb(15, 15, 15);
}

.textbox2 h2 {
  color: #f88379;
}

.textbox2 p {
  color: var(--textbox);
}

.endlogo {
  background-image: var(--logo);
  background-repeat: no-repeat;
  z-index: -2;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  position: absolute;
  top: 1450px;
  left: 60%;
  width: 490px;
  height: 490px;
}

.bordercontrol {
  border: 10px solid var(--cover);
  position: absolute;
  top: 1450px;
  left: 60%;
  width: 475px;
  height: 475px;
}









.menu ul {
  display: inline-flex;
  margin: 50px;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}

.menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #b2b1b1;
  cursor: pointer;
  transition: all 0.3s ease;
}

a:link,
a:visited {
  text-decoration: none;
}

.menu ul li a:hover {
  color: var(--secondary-color);
}

.logo img {
  width: 60px;
  margin-top: -12px;
  margin-right: 5px;
}

.active {
  color: #f88379 !important;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  left: 95%;
  top: 5%;
}
