@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #444;
  --shadow-1: #c6c6c6;
  --shadow-2: #fff;
  --background: #e9e9e9;
}

.dark-theme {
  --primary-color: #444;
  --secondary-color: #fff;
  --shadow-1: #515151;
  --shadow-2: #6d6d6d;
  --background: #5F5F5F;
}

body {
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

.menu ul {
  position: relative;
  display: inline-flex;
  margin: 50px;
  left: -40px;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}

.menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #b2b1b1;
  cursor: pointer;
  transition: all 0.3s ease;
}

a:link,
a:visited {
  text-decoration: none;
}

.menu ul li a:hover {
  color: var(--secondary-color);
}

.logo img {
  width: 60px;
  margin-top: -12px;
  margin-right: 5px;
}

.active {
  color: #f88379 !important;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  left: 95%;
  top: 5%;
}





.header {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height:130px;
  width: 100%;
  z-index: -1;
}

.title h1 {
  color: var(--secondary-color);
  top: -10px;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 40px;
}

.title h1 span {
  font-size: 50px;
}

.title p {
  color: var(--secondary-color);
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 20px;
}

.title back {
  background-color: var(--primary-color);
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  height: 320px;
  z-index: -2;
  -webkit-transform: skew(0,-6deg);
  -ms-transform: skew(0,-6deg);
  border-bottom: solid 20px;
  border-color: #3a3a3a;
}


.elements {

}

.elements element1 {
  display: inline-block;
  position: relative;
  top: 200px;
  left: 10%;
  width: 80px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}










.adspace adleft {
  background-color: grey;
  color: white;
  padding: 15px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 150px;
  z-index: -3;
}

.adspace adright {
  background-color: grey;
  color: white;
  padding: 15px;
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 150px;
  z-index: -3;
}